@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$breakepoint : 680px;

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: 0;
}

body, button, input, textarea {
    font-family: 'Nunito';
    font-size: 14px;
}

#root{
   min-height:  100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #f7f5f2
}
.link {
    text-decoration: none;
    color: rgb(122, 88, 88);
    font-weight: bold; 

    &:hover{
        color: rgb(182, 147, 147);
    }

    transition: 0.3s;
}

button{
    border: none;
    height: 2em;
    background-color: rgb(219, 163, 163);
    font-size: 1.5em;
    color: rgb(80, 23, 23);
    font-weight: bold;
    border-radius: 5px;
    &:hover{
        background-color: rgb(231, 195, 195);
    }
    transition: 0.3s;
}
.divLogo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
        .link{
            color: brown;
        }

        h1{
            display: flex; 
            justify-content: center;
            align-items: center;

            p#P{
                font-family: 'Nunito';
                font-style: italic;
                font-size: 4vh;
                padding-right: 0.2em;
            }
            p#F{
                font-family: 'Nunito';
                font-size: 4vh;
        }
    }
}

.divLoader{
    animation: is-loading 1s infinite;
    height: 40px;
    width: 40px;
    border: 6px solid rgb(231, 195, 195);
    border-top: 6px solid brown;
    border-radius: 50%;

    left:50%;
    top:50%;
    position: relative;
    margin-left:-40px; /* -1/2 width */
    margin-top:-60px; /* -1/2 height */

    margin-top: 10vh;
}

@keyframes is-loading{
    to{
        transform: rotate(1turn);
    }
}


header{
    height: 5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px;
    border-color: #ccc;

    position: fixed;
    background-color: #f7f5f2;
    
    nav{
        height: 100%;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p#sair{
            font-style: oblique;
            font-family: 'Nunito';
        }
    }
}

main{

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .form-login-register{
        max-width: 1000px;
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr;
        
        .logo{
            color: brown;
            align-self: center;
            height: 400px;
            width: 350px;

            @media(max-width: $breakepoint){
                height: 200px;
                width: 150px;
            }
            

        }
        form{
            color: brown;
            width: 70%;
            height: 100%;
            max-height: 300px;
            align-self: center;

            display: flex;
            flex-direction: column;
            justify-content: center;
            
            fieldset{
                width: 100%;
                align-self: center;
                padding-top: 1em;
                border: none;
                justify-content: center;

                
                .input-field{
                    margin-top: 1em;
                    width: 100%;
                    height: 3em;
                    background-color: rgb(245, 225, 225);
                    border-radius: 5px;
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                            
                    input{
                        width: 95%;
                        height: 100%;
                        align-self: center;

                        background-color: rgb(245, 225, 225);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        
                        border:none;
                    }
                   
                }

                button{
                    width: 100%;
                    margin-top: 1em;
                }
                .registre-se{
                    width: 63%;
                    margin-top: 1em;

                    display: flex;

                    align-content: center;
                    justify-content: space-between;
                    
                }
               
            }
            
            
        }
        @media(max-width: $breakepoint) {
            grid-template-columns: 1fr;
            align-self: center;

            display: flex;
            flex-direction: column;
            justify-content: center;
     }
    }
    @media(max-width : $breakepoint) {
        height: 94vh;
    }
   
}

footer{
    width: 100%;
    height: 5vh;

    display: none;
    align-content: center;
    justify-content: center;

    border-top: solid 1px;
    border-color: #ccc;

    position: fixed;
    bottom: 0;
    background-color: #f7f5f2;

    
    
    nav{

        width: 50%;
        height: 100%;
        
        display: flex;
        align-items: center;
        justify-content: space-between;

        .BottomIcon{
            width: 25px;
            height: 25px;

            color: brown;

            &:hover{
                color: rgb(231, 195, 195);
            }

            transition: 0.3s;
        }
    }
}

@media screen and (max-width : 600px) {
    footer{
        display: flex;
    }
}

.card-container{
    width: 80%;
    max-width: 1000px;
    background-color: white;

    border: solid 1px #ccc ;
    border-radius: 10px;

    margin: 2em;
    margin-top: 4em;

    .card-header{
        width: 95%;
        display: flex;
        padding: 1.5em;
        max-height: 1.5em;

        align-items: center;
        img{
            max-height: 3em;
            border-radius: 2em;
            margin-right: 1em;
        }
        h3{
            font-size: 1em;
        }
    }
    .card-picture{
        max-height: 1000%;
        width: 100%;

        display: flex;
        justify-content: center;

        overflow: hidden;

        img{
            object-fit: cover;
            max-width: 100%
        }
    }
    .card-footer{
        padding: 1em;

        .card-metadata{
            display: flex;
            align-items: center;
            margin-bottom: 0.5em;

            #like{
                width: 1.7em;
                height: 1.7em;
                margin-right: 0.5em;
            }

            h3{
                font-size: 1em;
            }
        }

        .card-info{
            p{
                font-size: 1em;
            }
            
            a{
                font-size: 1em;
                text-decoration: none;
                font-weight: bold;
                color: #333;
                margin-right: 0.5em;
            }
        }
        margin-bottom: 0.5em;
    }
}

.profile_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin-top: 6vh;

    .profile_header{
        background-color: whitesmoke;
        width: 80%;
        max-width: 1000px;
        min-height: 40vh;

        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;

        .follow{
            display: flex;
            .seguindo{
                padding-right: 1em;
            }
        }
        .image_place{
            display: flex;
            flex-direction: column;

            align-items: center;
            margin-top: 4em;
            img{
                max-width: 10em;
                max-height: 10em;
                border-radius: 50%;
            }
            .h3border{
                width: 30%;
                margin-top: 1em;
                border: rgb(165, 101, 101) solid 1px;
                display: flex;
                justify-content: center;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }

    .profile_feed{
        background-color: whitesmoke;
        width: 80%;
        max-width: 1000px;
        height: 100%;
        
        .mainSection_opt{
            min-height: 1em;
            height: 4em;

            display: flex;
            align-items: center;
            justify-content: space-between;

            .profile_opt{
                height: 100%;
                width: 80%;

                display: flex;
                align-items: center;
                justify-content: center;
                border: #fff solid 5px;

                
            }
            .selected{
                height: 100%;
                width: 80%;
                background-color: rgb(231, 195, 195);

                display: flex;
                align-items: center;
                justify-content: center;
                border: #fff solid 5px;
            }
            & :hover{
                cursor: pointer;
            }

        }

        .profile_content{
            width: 100%;
            height: 100%;
            padding-top: 1em;
            background-color: #fff;
            .profile_post{
                width: 99.9%;
                height: 99.9%;
                
                display: grid; 
                grid-template-columns: 1fr 1fr 1fr; 
                grid-template-rows: 0.9fr 0.9fr 0.9fr; 
                gap: 10px 10px;
                grid-template-areas: 
                  ". . ."
                  ". . ."
                  ". . ."; 
                .profile_card{
                    width: 100%;
                    height: 90%;
                    img{
                        width: 100%;
                        overflow: hidden;
                    }
                }
            }
        }

    }
}

